body {
    background: rgb(238, 238, 238);
}

#todoItem {
    background-color: white;
    padding: 10px;
}

p, h1 {
    color: #333333;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 500;
    font-style: normal;
}